// $blog-content-height: 500px;
$interblog-space: 40px;
$title-font-size: 32px;
$blog-body-color: #669999;
// .blog-content{
//     height: $blog-content-height;
// }

.blog-content{
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: $interblog-space;

    .blog-title{
        text-align: center;
        font-family: Handlee;
        font-size: $title-font-size;
    }

    .blog-date{
        text-align: center;
        font-family: 'Poiret One';
    }

    .blog-body{
        font-family: 'open sans';
        font-size: 13pt;
        color: $blog-body-color;
        line-height: 20px;
    }

    .comment-commenter-name{
        color: green;
        font-family: 'sans-serif';
        font-weight: 400;
        font-size: 25;
    }

    .comment-posted-on{
        font-family: 'Poiret One';
    }

    .comment-comment{
        font-family: 'open sans';
        font-size: 11pt;
        color: $blog-body-color;
        line-height: 20px;
    }

    .no-comment-message{
        font-family: 'open sans';
        font-size: 13pt;
        color: $blog-body-color;
        line-height: 20px;
    }
}

