.blog-about{
    background-color: #999966;
    padding-left: 25%;
    padding-right: 25%;
    position: absolute;
    bottom: 0;
    width: 100%;

    h4{
        font-family: "Qwigley";
        font-size: 20pt;
    }

    p{
        font-family: 'Open Sans';
        font-size: 13pt;
        color: #f5f5f0;
    }
}