.blog-admin{
    margin-left: 10%;
    margin-right: 10%;

    .admin-row{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .admin-main{
        display: flex;
        justify-content: space-around;

        .admin-main-button{
        }
    }
}