@import "blog-content";

.blog-contents{
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}