.blog-about{
    margin-left: 25%;
    margin-right: 25%;

    h4{
        font-family: "Qwigley";
        font-size: 20pt;
    }

    p{
        font-family: 'Open Sans';
        font-size: 13pt;
        color: #555;
    }
}