.blog-about{

    img{
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }

    img:hover {
        opacity:0.8;
        filter: alpha(opacity=80);
    }

    .profile-pic{
        display: block;
        margin:10px auto;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }


    .about-me{
        font-family: "Qwigley";
        font-size: 30pt;
        text-align: center;
    }

    p{
        font-family: 'Open Sans';
        font-size: 13pt;
        text-align: center;
        margin: 0;
    }

}