.blog-content {
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 40px; }
  .blog-content .blog-title {
    text-align: center;
    font-family: Handlee;
    font-size: 32px; }
  .blog-content .blog-date {
    text-align: center;
    font-family: 'Poiret One'; }
  .blog-content .blog-body {
    font-family: 'open sans';
    font-size: 13pt;
    color: #669999;
    line-height: 20px; }

.blog-contents {
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px; }

.blog-about {
  background-color: #999966;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%; }
  .blog-about h4 {
    font-family: "Qwigley";
    font-size: 30pt;
    padding-top: 20px; }
  .blog-about p {
    font-family: 'Open Sans';
    font-size: 13pt;
    color: #f5f5f0; }
  .blog-about .about-content {
    position: relative;
    top: 10%; }
  .blog-about .about-text {
    position: relative;
    float: right; }
  .blog-about .profile-pic-col {
    height: 100%;
    position: absolute; }
  .blog-about .profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 20%; }

.blog-admin {
  margin-left: 10%;
  margin-right: 10%; }
  .blog-admin .admin-row {
    padding-top: 20px;
    padding-bottom: 20px; }

.blog-top .featured-blog-picture {
  position: fixed;
  width: 100%; }

/* latin-ext */
@font-face {
  font-family: 'Qwigley';
  font-style: normal;
  font-weight: 400;
  src: local("Qwigley"), local("Qwigley-Regular"), url(http://fonts.gstatic.com/s/qwigley/v6/_sQT3XXAiWOQWEZ6ruLKU1KPGs1ZzpMvnHX-7fPOuAc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Qwigley';
  font-style: normal;
  font-weight: 400;
  src: local("Qwigley"), local("Qwigley-Regular"), url(http://fonts.gstatic.com/s/qwigley/v6/K9QriY-uFU8lyAnX5hTTtgLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* cyrillic */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local("Poiret One"), local("PoiretOne-Regular"), url(http://fonts.gstatic.com/s/poiretone/v4/cKr_e199f0xMkxMkRbEJXwsYbbCjybiHxArTLjt7FRU.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* latin-ext */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local("Poiret One"), local("PoiretOne-Regular"), url(http://fonts.gstatic.com/s/poiretone/v4/3Annd_XP-99FcGbOpm6fVAsYbbCjybiHxArTLjt7FRU.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local("Poiret One"), local("PoiretOne-Regular"), url(http://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8QzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  src: local("Handlee Regular"), local("Handlee-Regular"), url(http://fonts.gstatic.com/s/handlee/v5/juOaTHBX9N7mCQYS68pw6QLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
.blog-wrapper {
  height: 100%;
  position: relative; }
  .blog-wrapper .blog-header .navbar-fixed-top {
    margin-bottom: 0px; }
  .blog-wrapper .blog-header .navbar-default.atblog {
    background: white; }
    .blog-wrapper .blog-header .navbar-default.atblog .navbar-brand {
      color: grey; }
    .blog-wrapper .blog-header .navbar-default.atblog .navbar-nav li a {
      color: grey; }
    .blog-wrapper .blog-header .navbar-default.atblog .navbar-nav li a:hover {
      color: grey; }
  .blog-wrapper .blog-header .navbar-default {
    padding-top: 10px;
    background-color: transparent;
    background: transparent;
    border-color: transparent; }
    .blog-wrapper .blog-header .navbar-default .navbar-brand {
      left: 25%;
      position: absolute;
      color: white;
      padding-left: 0;
      font-family: 'Qwigley', cursive;
      font-size: 50px; }
    .blog-wrapper .blog-header .navbar-default .navbar-nav {
      margin-right: 25%; }
      .blog-wrapper .blog-header .navbar-default .navbar-nav li a {
        font-family: 'Poiret One', cursive;
        font-size: 20px;
        position: relative;
        text-decoration: none;
        color: white; }
      .blog-wrapper .blog-header .navbar-default .navbar-nav li a:hover {
        color: white; }
      .blog-wrapper .blog-header .navbar-default .navbar-nav li a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.2s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
      .blog-wrapper .blog-header .navbar-default .navbar-nav li a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }
  .blog-wrapper .blog-main {
    min-height: 100%;
    position: absolute;
    width: 100%; }

/*# sourceMappingURL=placeholder.css.map */
