.blog-content {
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 40px; }
  @media all and (max-width: 500px) {
    .blog-content {
      margin-left: 5%;
      margin-right: 5%; } }
  .blog-content .blog-title {
    text-align: center;
    font-family: Handlee;
    font-size: 32px; }
  .blog-content .blog-date {
    text-align: center;
    font-family: 'Poiret One'; }
  .blog-content .blog-body {
    font-family: 'open sans';
    font-size: 13pt;
    color: #669999;
    line-height: 20px; }
    .blog-content .blog-body img {
      -webkit-transition: all 0.7s ease;
      transition: all 0.7s ease; }
    .blog-content .blog-body img:hover {
      opacity: 0.8;
      filter: alpha(opacity=80); }
  .blog-content .comment-commenter-name {
    color: green;
    font-family: 'sans-serif';
    font-weight: 400;
    font-size: 25; }
  .blog-content .comment-posted-on {
    font-family: 'Poiret One'; }
  .blog-content .comment-comment {
    font-family: 'open sans';
    font-size: 11pt;
    color: #669999;
    line-height: 20px; }
  .blog-content .no-comment-message {
    font-family: 'open sans';
    font-size: 13pt;
    color: #669999;
    line-height: 20px; }
  .blog-content .fa-heart-o:hover {
    color: #ff6600;
    font-size: 1.75em; }
  .blog-content .comment-like-icon {
    display: flex;
    flex-direction: column;
    min-height: 50px; }
  .blog-content .comment-like-icon img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.2);
    /* Safari and Chrome */
    -moz-transform: scale(1.2);
    /* Firefox */
    -ms-transform: scale(1.2);
    /* IE 9 */
    -o-transform: translatZ(0) scale(1.2);
    /* Opera */
    transform: translatZ(0) scale(1.2); }
  .blog-content .grayscale {
    -webkit-filter: brightness(1.1) grayscale(100%) contrast(90%);
    -moz-filter: brightness(1.1) grayscale(100%) contrast(90%);
    filter: brightness(1.1) grayscale(100%); }

.blog-contents {
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px; }

.blog-about img {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease; }
.blog-about img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); }
.blog-about .profile-pic {
  display: block;
  margin: 10px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%; }
.blog-about .about-me {
  font-family: "Qwigley";
  font-size: 30pt;
  text-align: center; }
.blog-about p {
  font-family: 'Open Sans';
  font-size: 13pt;
  text-align: center;
  margin: 0; }

.blog-admin {
  margin-left: 10%;
  margin-right: 10%; }
  .blog-admin .admin-row {
    padding-top: 20px;
    padding-bottom: 20px; }
  .blog-admin .admin-main {
    display: flex;
    justify-content: space-around; }

.blog-top .featured-blog-picture {
  position: fixed;
  width: 100%; }

/* latin-ext */
@font-face {
  font-family: 'Qwigley';
  font-style: normal;
  font-weight: 400;
  src: local("Qwigley"), local("Qwigley-Regular"), url(http://fonts.gstatic.com/s/qwigley/v6/_sQT3XXAiWOQWEZ6ruLKU1KPGs1ZzpMvnHX-7fPOuAc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Qwigley';
  font-style: normal;
  font-weight: 400;
  src: local("Qwigley"), local("Qwigley-Regular"), url(http://fonts.gstatic.com/s/qwigley/v6/K9QriY-uFU8lyAnX5hTTtgLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* cyrillic */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local("Poiret One"), local("PoiretOne-Regular"), url(http://fonts.gstatic.com/s/poiretone/v4/cKr_e199f0xMkxMkRbEJXwsYbbCjybiHxArTLjt7FRU.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* latin-ext */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local("Poiret One"), local("PoiretOne-Regular"), url(http://fonts.gstatic.com/s/poiretone/v4/3Annd_XP-99FcGbOpm6fVAsYbbCjybiHxArTLjt7FRU.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local("Poiret One"), local("PoiretOne-Regular"), url(http://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8QzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  src: local("Handlee Regular"), local("Handlee-Regular"), url(http://fonts.gstatic.com/s/handlee/v5/juOaTHBX9N7mCQYS68pw6QLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
.blog-wrapper {
  height: 100%;
  position: relative;
  width: 100%; }
  .blog-wrapper .blog-header {
    background-color: #f2f2f2;
    min-height: 100%;
    position: fixed;
    width: 25%; }
    .blog-wrapper .blog-header .blog-nav-title-container {
      width: 100%;
      display: flex;
      justify-content: space-around; }
      .blog-wrapper .blog-header .blog-nav-title-container .blog-nav-title {
        margin: auto;
        font-family: 'Qwigley', cursive;
        font-size: 50px; }
    .blog-wrapper .blog-header .nav {
      padding-top: 10px; }
      .blog-wrapper .blog-header .nav li a {
        color: #666666;
        text-align: center;
        font-family: 'Poiret One', cursive;
        font-size: 20px;
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease; }
    .blog-wrapper .blog-header .nav li a:hover {
      text-decoration: none; }
  .blog-wrapper .blog-main {
    padding-left: 25%;
    min-height: 100%;
    width: 75%; }

/*# sourceMappingURL=placeholder.css.map */
