@import "blog-contents";
@import "blog-about";
@import "blog-admin";
@import "web-fonts";

$content-margin: 10;

.blog-wrapper{
  min-height: 100%;
  position: relative;

  .blog-header{
    .navbar-fixed-top{
      margin-left: 25%;
      margin-right: 25%;
      margin-bottom: 0px;
    }
    .navbar{
      .nav{
        ul{
          li{
            a{
              color: red;
            }
          }
        }
      }
    }
  }

  .blog-main{
    padding-top: 50px;
    // padding-bottom: 50px;
    height: 100%;
    position: absolute;
    overflow: scroll;
    width: 100%;
  }

  .blog-footer{
    width: 100%;
    text-align: center;
    padding-top: 19px;
    color: #777;
    height: 50px;
    bottom: 0px;
    position: absolute;
  }

}
