<div class = "blog-contents" ng-controller="BlogCtrl">
    <div ng-repeat="blogContent in blogContents | orderBy: '-unixDate'">
        <div class="blog-content">

            <div class="blog-title">
                {{blogContent.title}}
            </div>

            <div class="blog-date">
                {{blogContent.created_on}}
            </div>

            <div class="blog-body" ng-bind-html="blogContent.body">
                {{blogContent.body}}
            </div>
        </div>
    </div>
</div>

<div class="blog-about" id="About">
          <h4>About me</h4>
          <p>Can't think of a good introduction for now, gotta make it sound cool and stuff ..</p>
          <p>For now this is just a place where I will blab about random cooking things I counter day to day</p>
          <p>By the way I go to Waterloo so if you see me on campus or something, say hi!</p>
          <p> Alex </p>
</div>